.mail-footer {
    border-top: 1px solid black;
}

.button.secondary > a {
    border: 1px solid #005B7D;
    color: #005B7D;
    border-radius: 25%;
    padding: .75rem 1rem;
}

.button.primary > a {
    border: 1px solid #005B7D;
    background-color: #005B7D;
    color: white;
    border-radius: 25%;
    padding: .75rem 1rem;
}
